#DON'T SHOW PHP ERRORS

php_flag display_errors off



#SHOW ERROR

ErrorDocument 400 /errors/400.html
ErrorDocument 401 /errors/401.html
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html
ErrorDocument 500 /errors/500.html
ErrorDocument 503 /errors/503.html

#DON'T SHOW DIRECTORY LISTINGS

Options -Indexes +MultiViews

#FOLLOW SYMBOLIC LINKS

Options +FollowSymLinks

RewriteEngine on

#HTTPS REDIRECTION
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#DISABLE .HTML EXTENSIONS
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

#HOMEPAGE
DirectoryIndex index.html
#ALIASES
RewriteRule accueil /index.html [L]

#Block IFrames
Header set X-Frame-Options: "DENY"

Header always set Strict-Transport-Security max-age=31536000

<IfModule mod_headers.c>

  Header set X-XSS-Protection "1; mode=block"

</IfModule>

# --------------------------------------------------------------------------------------

# Compression: http://code.google.com/speed/page-speed/docs/payload.html#GzipCompression

# --------------------------------------------------------------------------------------

<IfModule mod_deflate.c>

	AddOutputFilterByType DEFLATE application/atom+xml

	AddOutputFilterByType DEFLATE application/json

	AddOutputFilterByType DEFLATE application/xhtml+xml

	AddOutputFilterByType DEFLATE application/xml

	AddOutputFilterByType DEFLATE text/css

	AddOutputFilterByType DEFLATE text/html

	AddOutputFilterByType DEFLATE text/plain

	AddOutputFilterByType DEFLATE text/x-component

	AddOutputFilterByType DEFLATE text/xml

	

	# The following MIME types are in the process of registration

	AddOutputFilterByType DEFLATE application/xslt+xml

	AddOutputFilterByType DEFLATE image/svg+xml

	

	# The following MIME types are NOT registered

	AddOutputFilterByType DEFLATE application/mathml+xml

	AddOutputFilterByType DEFLATE application/rss+xml

	

	# JavaScript has various MIME types

	AddOutputFilterByType DEFLATE application/javascript

	AddOutputFilterByType DEFLATE application/x-javascript

	AddOutputFilterByType DEFLATE text/ecmascript

	AddOutputFilterByType DEFLATE text/javascript



	# .ico files and other compressible images

	AddOutputFilterByType DEFLATE image/vnd.microsoft.icon

	AddOutputFilterByType DEFLATE image/x-icon

	AddOutputFilterByType DEFLATE image/bmp

	AddOutputFilterByType DEFLATE image/tiff

	AddOutputFilterByType DEFLATE application/pdf



	# compressible fonts (.woff is already compressed)

	AddOutputFilterByType DEFLATE font/opentype

	AddOutputFilterByType DEFLATE application/x-font-ttf

	AddOutputFilterByType DEFLATE application/vnd.ms-fontobject

</IfModule>

# -------------------------------------------------------------------------------------------------

# Browser Caching: http://code.google.com/speed/page-speed/docs/caching.html#LeverageBrowserCaching

#

# Google recommends specifying the following for all cacheable resources:

#

#    1. Expires or Cache-Control max-age

#

# 	Set Expires to a minimum of one month, and preferably up to one year, in the future. (We

# 	prefer Expires over Cache-Control: max-age because it is is more widely supported.) Do not

# 	set it to more than one year in the future, as that violates the RFC guidelines.

#

#    2. Last-Modified or ETag

#

# 	Set the Last-Modified date to the last time the resource was changed. If the Last-Modified

#	date is sufficiently far enough in the past, chances are the browser won't refetch it. 

#

# Per Google: "it is redundant to specify both Expires and Cache-Control: max-age, or to specify

# both Last-Modified and ETag."

# --------------------------------------------------------------------------------------------------

<IfModule mod_expires.c>

	ExpiresActive On



	ExpiresByType application/json			"access plus 1 year"

	ExpiresByType application/pdf			"access plus 1 year"

	ExpiresByType application/x-shockwave-flash	"access plus 1 year"

	ExpiresByType image/bmp 			"access plus 1 year"

	ExpiresByType image/gif 			"access plus 1 year"

	ExpiresByType image/jpeg 			"access plus 1 year"

	ExpiresByType image/png 			"access plus 1 year"

	ExpiresByType image/svg+xml 			"access plus 1 year"

	ExpiresByType image/tiff 			"access plus 1 year"

	ExpiresByType image/vnd.microsoft.icon 		"access plus 1 year"

  	ExpiresByType image/x-icon			"access plus 1 year"

	ExpiresByType text/css 				"access plus 1 year"

	ExpiresByType video/x-flv 			"access plus 1 year"

	ExpiresByType application/vnd.bw-fontobject	"access plus 1 year"

	ExpiresByType application/x-font-ttf		"access plus 1 year"

	ExpiresByType application/font-woff		"access plus 1 year"

	ExpiresByType font/opentype			"access plus 1 year"

	ExpiresByType image/webp			"access plus 1 year"



	# The following MIME types are in the process of registration

	ExpiresByType application/xslt+xml		"access plus 1 year"

	ExpiresByType image/svg+xml			"access plus 1 year"



	# The following MIME types are NOT registered

	ExpiresByType application/mathml+xml		"access plus 1 year"

	ExpiresByType application/rss+xml		"access plus 1 year"



	# JavaScript has various MIME types

	ExpiresByType application/x-javascript 		"access plus 1 year"

	ExpiresByType application/javascript 		"access plus 1 year"

	ExpiresByType text/ecmascript 			"access plus 1 year"

	ExpiresByType text/javascript 			"access plus 1 year"

</IfModule>



# TODO: Set Last-Modified per Google's recommendation to complete browser caching



# -------------------------------------------------------------------------

# Disabling ETags as they are most likely misconfigured and

# do not add functionalit beyond Last-Modified

# -------------------------------------------------------------------------

<IfModule mod_headers.c>

	# Try removing etag headers (if it's coming from proxy for example)

	Header unset ETag

</IfModule>



# Remove ETags

FileETag None
